html, body {
    background: #113588;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000043;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}
h1 {
	font: 2.7em Arial, Helvetica, sans-serif;
	margin-bottom: .4em;
	color: rgb(36, 55, 85);
}
h2 {
	font: 3.6em Arial, Helvetica, sans-serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 2.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(27, 23, 65);
}
a:hover {
	color: rgb(35, 32, 83);
}
caption {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-align: left;
}
header h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid gray;
}
header p {
  font-size: 1.7em;
}
section {
    font-size: 1.7em;
}
details {
    font-size: 1.7em;
}
dl {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
}
dt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  flex: 450px;
}
dt img {
  display: block;
  width: 375px;
  height: 375px;
}
dt details p {
  margin: 8px;
  font-size: small;
  max-width: 100%;
  word-wrap: break-word;
}
footer {
    border-top: 1px solid gray;
    text-align: center;
    font-size: .8em;
    line-height: 4em;
    margin-top: 1em;
}
blockquote {
    font-style: italic;
}
.flowRight {
    float: right;
    margin-left: 10px;
}
.flowLeft {
    float: left;
    margin-right: 10px;
}